.banner-style {
	color: white;
}

.header-style {
	margin-bottom: 15px !important;
	background-image: url("https://images.unsplash.com/photo-1562587026-d95817bb10a3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1782&q=80");
	height: 30vh;
	min-height: 300px;
}

.final-screen-body {
	text-align: center;
	padding: 10vw;
	height: calc(100vh - 450px);
}
