
.content {
	background-color: #ffffff00;
	display: flex;
	justify-content: center;
	transform: translate(0, 6px);
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: white;
}

input + .slider {
	box-shadow: 0 0 8px 1px #00000020;
	outline: none;
}
input:not(:checked) + .slider:before {
	background-color: green;
}

input:checked + .slider:before {
	background-color: red;
	transform: translateX(23px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
