.beating-heart-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.human-heart {
	padding-bottom: 14px;
	animation: 0.8s infinite beatHeart;
}

@keyframes beatHeart {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.footer-style {
	background-color: #f6f6f6;
	margin-bottom: 0;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.12);

}

.site-branding {
    margin: 10px auto 10px 0;
    width: 30%;
    max-width: 320px;
}

.site-title {
    font-family: 'Khand', sans-serif;
    font-size: 1.4375rem;
    font-weight: 700;
    line-height: 1.2173913043;
    margin: 0;
}